.links line {
    stroke: #999;
    stroke-opacity: 0.6;
}

.nodes circle {
    stroke: #fff;
    stroke-width: 1.5px;
}

d3-tip {
    line-height: 1;
    color: black;
}

.selected {
    stroke: #4f4;
	stroke-opacity: .9;
	stroke-width:2px;
}
.neighbor {
    stroke: #090;
	stroke-opacity: .6;
	stroke-width:1px;
}

.link line {
    stroke: #999;
    stroke-opacity: 0.6;
}

#chart {
        position: fixed;
        left: 0px;
        right: 0px;
        top: 0px;
        bottom: 0px;
      }
